* {
    box-sizing: border-box;
}

:root {
    --color-1: #c9d2da;
    --color-2: #2e80ce;
    --color-3: #10375c;
    --color-4: #575f66;
}

html {
    font-size: 62.5%;
}

body,
input,
textarea,
button {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

button {
    padding: 0;
}

/* common */

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    min-width: 205px;
    height: 60px;
    font-size: 1.8rem;
    font-weight: 400;
    color: #fff;
    line-height: 60px;
    border-radius: 99px;
    border: none;
    background: var(--color-2);
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.section-title {
    color: var(--color-3);
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -1px;
}

.section-desc {
    color: var(--color-4);
    font-size: 18px;
    font-weight: 300;
    line-height: 166.667%;
}

.btn-direction {
    display: flex;
    justify-content: center;
    gap: 18px;
}

.btn-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-4);
    border: 1px solid var(--color-4);
    background-color: transparent;
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.btn-arrow:hover {
    cursor: pointer;
    color: white;
    border: 1px solid var(--color-2);
    background-color: var(--color-2);
}

/* header */

.header {
    min-height: 100vh;
    height: 800px;
    padding-top: 30px;
    background-color: var(--color-3);
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    position: relative;
    display: inline-flex;
    font-size: 1rem;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    height: 3em;
    width: 3em;
    background-color: var(--color-2);
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background-color: #fff;
}

.logo__text {
    margin-left: 0.6em;
    text-align: right;
}

.logo__brand {
    display: block;
    font-size: 1.8em;
    font-weight: 400;
    color: #fff;
    line-height: 0.77;
}

.logo__brand--smaller {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.56;
}

.navbar {
    margin-left: 318px;
}

.navbar__list {
    display: flex;
    gap: 26px;
}

.navbar__link {
    padding: 4px 8px;
    color: var(--color-1);
    font-size: 1.6rem;
    font-weight: 300;
}

.navbar__link:hover,
.navbar__link--active {
    color: white;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
    display: inline-block;
    content: "";
    position: relative;
    left: -8px;
    bottom: 2px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
}

.header-action {
    margin-left: auto;
}

.header-action__login {
    margin-right: 28px;
    color: var(--color-1);
    font-size: 1.6rem;
    font-weight: 300;
}

.header-action__signup {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    min-width: 104px;
    height: 44px;
    line-height: 44px;
}

/* hero */

.hero {
    margin-top: 76px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 540px;
}

.hero__content {
    width: 44.18%;
}

.hero__heading {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 114.286%;
    letter-spacing: -1.4px;
}

.hero__desc {
    margin-top: 22px;
    color: var(--color-1);
}

.hero__contact {
    margin-top: 38px;
}

.hero__phone {
    margin-left: 38px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 166.667%;
}

.hero__images {
    display: flex;
    align-items: center;
}

.hero__img {
    object-fit: cover;
    border-radius: 6px;
}

.hero__img:first-child {
    height: 540px;
    width: 330px;
    z-index: 1;
}

.hero__img:nth-child(2) {
    position: relative;
    left: -6px;
    height: 410px;
    width: 210px;
}

/* service */

.service {
    margin-top: 170px;
}

.service__desc {
    margin: 0 auto;
    width: 40%;
    text-align: center;
}

.service__row {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.service__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
    object-position: 0% 55%;
}

.service__list {
    margin-top: 35px;
    width: 470px;
}

.service__item {
    height: 128px;
    border-radius: 10px;
    background-color: #fff;
}

.service__link {
    height: 100%;
    display: flex;
    gap: 19px;
    padding: 21px 18px 20px 22px;
}

.service__item:hover {
    position: relative;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service__icon {
    color: var(--color-3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #eff6fd;
}

.service__item:hover .service__icon {
    color: white;
    background-color: var(--color-2);
}

.service__item-title {
    color: var(--color-3);
    font-size: 1.8rem;
    font-weight: 600;
}

.service__item-desc {
    margin-top: 8px;
    color: var(--color-4);
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 175%;
}

.service__btn {
    margin-top: 55px;
}

/* how */

.how {
    margin-top: 170px;
    padding: 100px 0 100px;
    background: #f6fbff;
}

.how__title {
    width: 27.69%;
}

.how__desc {
    margin-top: 18px;
    width: 40%;
}

.how__list {
    margin-top: 86px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
    height: 402px;
}

.how__item {
    padding: 43px 42px;
    border-radius: 4px;
    border: 16px solid #eaf6ff;
}

.how__item:hover {
    cursor: default;
    border: 16px solid #2e80ce;
    transform: translateY(-16px);
    transition: 0.5s;
}

.how__item:hover .how__item-link {
    color: var(--color-2);
    font-weight: 400;
}

.how__item-title {
    margin-top: 18px;
    color: var(--color-3);
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 138.462%;
}

.how__item-link,
.how__item-desc {
    color: var(--color-4);
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 175%;
}

.how__item-desc {
    margin-top: 28px;
}

.how__item-link {
    display: block;
    margin-top: 18px;
}

/* dentures */

.dentures {
    margin-top: 170px;
}

.dentures__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 491px;
}

.dentures__imgs {
    width: 48.71%;
    height: 100%;
    position: relative;
}

.dentures__img {
    object-fit: cover;
    border-radius: 6px;
}

.dentures__img:first-child {
    width: 512px;
    height: 370px;
    object-position: 60% 80%;
}

.dentures__img:last-child {
    position: absolute;
    top: 121px;
    right: 0px;
    width: 332px;
    height: 370px;
}

.dentures__content {
    width: 40%;
}

.dentures__title {
    text-align: left;
}

.dentures__desc {
    margin-top: 18px;
}

.dentures__btn {
    margin-top: 38px;
}

/* dentists */

.dentists {
    margin-top: 170px;
}

.dentists__btn {
    display: block;
    margin: 38px auto 0;
}

.dentists__list {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.dentists__item {
    flex: 1;
}

.dentists__parent-img {
    border-radius: 6px;
    width: 100%;
    height: 318px;
    background-color: #eaf6ff;
    overflow: hidden;
}

.dentists__img {
    margin-top: 28px;
    height: 290px;
    min-width: 100%;
    object-fit: cover;
    object-position: 50% 0%;
    transition: 0.2s;
}

.dentists__img:hover {
    transform: scale(1.1);
}

.dentists__name {
    margin-top: 12px;
    color: var(--color-3);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 175%;
}

.dentists__background {
    color: var(--color-4);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 185.714%;
}

.dentists__btn-direction {
    margin-top: 38px;
}

/* app */

.app {
    margin-top: 265px;
    background-color: var(--color-2);
}

.app__body {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 427px;
    width: 88.03%;
}

.app__img-parent {
    height: 100%;
}

.app__img {
    margin-top: -95px;
}

.app__content {
    margin: auto 0;
    width: 586px;
}

.app__title,
.app__desc {
    color: white;
    text-align: left;
}

.app__title {
    width: 489px;
}

.app__desc {
    margin-top: 18px;
}

.app__install {
    display: inline-flex;
    gap: 28px;
    margin-top: 38px;
}

/* news */

.news {
    margin-top: 170px;
}

.news__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 375px;
}

.news__content {
    width: 40.17%;
}

.news__title {
    text-align: left;
}

.news__link {
    display: inline-block;
    margin-top: 28px;
    color: var(--color-3);
    font-family: Inter;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 155.556%;
    text-decoration-line: underline;
}

.news__btn-direction {
    margin-top: 28px;
    justify-content: flex-start;
}

.news__list {
    display: flex;
    max-width: 570px;
    gap: 30px;
}

.news-item {
    height: 375px;
    width: 270px;
    border-radius: 12px;
    border-radius: 12px;
    background: #fff;
    overflow: hidden;
}

.news-item__thumb {
    height: 172px;
    overflow: hidden;
}

.news-item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s;
}

.news-item__content {
    border: 1px solid #e8ebee;
    border-top: none;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 18px 24px 21px 22px;
}

.news-item__title {
    color: var(--color-3);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 162.5%;
}

.news-item__desc {
    margin-top: 10px;
    color: var(--color-4);
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 171.429%;
}

.news-item__link {
    margin-top: 12px;
    display: inline-block;
    color: var(--color-3);
    font-size: 1.4rem;
    font-weight: 500;
}

.news-item:hover {
    cursor: default;
    box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
}

.news-item:hover .news-item__content {
    border: 1px solid transparent;
    border-top: none;
}

.news-item:hover .news-item__link {
    color: var(--color-2);
}

.news-item:hover .news-item__img {
    transform: scale(1.1);
}

/* welcome */

.welcome {
    margin-top: 170px;
}

.welcome__body {
    padding: 100px 178px;
    width: 100%;
    background-color: #f6fbff;
}

.welcome__title {
    position: relative;
}

.welcome__title:after {
    position: absolute;
    bottom: -18px;
    left: 407px;
    transform: translateX(-50%);
    content: "";
    display: inline-block;
    width: 136px;
    height: 2px;
    background-color: var(--color-2);
}

.welcome__desc {
    margin: 38px auto 0;
    max-width: 617px;
    color: var(--color-4);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 175%;
}

.welcome__btn {
    display: block;
    margin: 38px auto 0;
}

/* footer */

.footer {
    --color-footer: #a9b3bb;
    margin-top: 170px;
    padding: 100px 135px 42px;
    background-color: var(--color-3);
}

.footer__row {
    display: flex;
    gap: 78px;
}

.footer__desc {
    margin-top: 21px;
    width: 336px;
    color: var(--color-footer);
    font-family: Open Sans;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 175%;
}

.footer-title-font {
    margin-bottom: 20px;
    color: #fff;
    font-family: Open Sans;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 175%;
}

.footer__list {
    margin-bottom: 28px;
}

.footer__item {
    margin-bottom: 10px;
}

.footer-item-font {
    color: var(--color-footer);
    font-family: Open Sans;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 185.714%;
}

.footer__link {
    text-wrap: nowrap;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__social {
    margin-bottom: 28px;
}

.footer__social {
    display: flex;
    gap: 10px;
}

.footer__icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    color: var(--color-2);
    border-radius: 50%;
    background: white;
}

.footer__icon-link:hover {
    color: white;
    background: var(--color-2);
}

.subscribe__desc {
    max-width: 273px;
}

.subscribe-form {
    margin-top: 10px;
}

.subscribe-form__input {
    width: 212px;
    height: 46px;
    padding: 10px;
    outline: none;
    border: 1px solid #406181;
    background-color: transparent;
}

.subscribe-form__btn {
    cursor: pointer;
    margin-left: 12px;
    min-width: 108px;
    height: 46px;
    color: #fff;
    font-family: Open Sans;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 4%;
    border: none;
    background: var(--color-2);
}

.subscribe-form__input::placeholder {
    color: #9ca8b1;
    font-family: Open Sans;
    font-size: 1.4rem;
    font-weight: 400;
}

.footer__footer {
    border-top: 1px solid #406181;
}

.footer__copyright {
    margin-top: 28px;
    color: #aab3ba;
    text-align: center;
}
